<footer class="site-footer">
  <div class="container">
    <div class="footer__grid">

      <div class="footer__col">
        <h3>Accueil</h3>
        <ul class="footer__list">
          <li><a href="accueil.html">Accueil</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h3>Hagakure KC</h3>
        <ul class="footer__list">
          <li><a href="hagakure-kc.html#histoire-du-club">Histoire du club</a></li>
          <li><a href="hagakure-kc.html#instructeurs">Les instructeurs</a></li>
          <li><a href="hagakure-kc.html#horaires">Horaires</a></li>
          <li><a href="hagakure-kc.html#signification-hagakure">Signification de l’Hagakure</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h3>Karate-dō</h3>
        <ul class="footer__list">
          <li><a href="karate-do.html#quest-ce-que-le-karate">Qu’est-ce que le karaté ?</a></li>
          <li><a href="karate-do.html#histoire-du-karate">Histoire du karaté</a></li>
          <li><a href="karate-do.html#dojokun">Dōjōkun</a></li>
          <li><a href="karate-do.html#histoire-jka">Histoire de la JKA</a></li>
        </ul>
      </div>

      <div class="footer__col">
        <h3>Liens utiles</h3>
        <ul class="footer__list">
          <li><a href="https://www.jka.be/" target="_blank" rel="noopener">JKA Belgium</a></li>
          <li><a href="https://www.jka.or.jp/en/" target="_blank" rel="noopener">JKA Headquarters</a></li>
          <li><a href="https://www.jkaeurope.eu/" target="_blank" rel="noopener">JKA Europe</a></li>
        </ul>
      </div>

    </div>

    <div class="footer__bottom">
      <div>© <span id="year-footer"></span> Hagakure Karate Club — Tous droits réservés.</div>
      <a href="https://sportbrainelalleud.be/web/fr/page/stade%20gaston%20reiff/" target="_blank"><div class="footer__meta">Hall Omnisport – Braine-l’Alleud</div></a>
    </div>
    <div> Website made with <span class="heart">❤️</span> by <a href="https://mabel.page/" target="_blank">mabel.page</a></div>
  </div>
</footer>